/* when the width is 650px or less, 
. all text in paragraphs should be 0.8em
. the header text size is 1.5em
. the three buttons in the section top laid as a column, centered and with no gap
. the width of the buttons is 70% of its parent
. the image and its descriptive text in the section bottom are laid as a column */

/* This css will activate when the window size is 650px or below*/
@media (max-width: 650px){
    p{
        font-size: 0.8em;
    }

    h1{
        font-size: 1.5em;
    }

    button{
        width: 70%;
    }
    
    /* to make the buttons vertical and centered on the page*/
    #top{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0px;
    }

    /* to have the images and text lay vertically*/
    #bottom{
        display: flex;
        flex-direction: column;
    }
}
