/* The following CSS  styles for *, html and body are given.
 Do not remove them! */
 *{padding: 0;
    margin: 0;
    box-sizing: border-box;}
    
    html, body{
        width:100%; height:100%;
    }

    body{
        display: flex;
        border: 2px solid red;
    }

    /* ------------------------------------------ */

/* my code starts here */

header{
    background-color: rebeccapurple;
    flex: 1.5;
}

h1{
    flex: 1.5;
}
button{
    flex: 2;
    background-color: orange;
    height: 100px;
    color: white;
    margin: 5px;
    border: 3px ridge lightgrey;
    font-size: 30px;
}

button:hover{
    background-color: darkorange;
}

img{
    width: 80%;
}

footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1.5;
}

h1, footer {
    background-color: rebeccapurple;
    color: white;
    text-align: center;
    padding: 30px;
    margin: 4px;
}

h2{
    padding: 50px;
}

h2, p {
    text-align: center;
}

/* id selectors */
#page{
    display: flex;
    flex-direction: column;
    width: 80%;
}

#top{
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
    margin: 9px;
    flex: 2;
    align-items: center;
}

#bottom{
    display: flex;
    background-color: #c9f3ef ;
    border: 2px solid green;
    justify-content: space-around;
    flex: 8;
    margin-right: 9px;
    margin-left: 9px;
    height: 570px;
}

#main{
    display:flex;
    flex-direction: column;
    border: 2px solid blue;
    margin: 4px;
    flex: 6;
    padding-bottom: 8px;
}

#sec-text{
    border: 2px dotted blue;
    background-color: beige;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 5px;
    flex: 5;
    font-size: 20px;
}

#sec-img{
    border: 2px dotted red;
    background-color: white;
    width: 80%;
    flex: 4;
    margin: 10px;
    display: flex;
    justify-content: center;
}